.dart_tool/
.packages
.pub/
.pub-cache/
build/
android/.gradle/
android/app/build/
ios/Pods/
**/*.apk
**/*.aab
**/*.ipa
**/*.zip
**/*.so
**/*.keystore
**/*.jks

# Android signing
android/key.properties
android/app/*.keystore
android/app/*.jks
